.footer {
  padding-bottom: 114px;

  @media (max-width: 576px) {
    padding-bottom: 84px;
  }
  @media (max-width: 476px) {
    padding-bottom: 74px;
  }
  @media (max-width: 400px) {
    padding-bottom: 50px;
  }
  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
  }
  &-arrow {
    img {
      vertical-align: middle;
    }
  }
  &-social {
    white-space: nowrap;
    &:hover {
      color: $colorYellow;
    }
    img {
      vertical-align: middle;
    }
  }
}
.footer-links {
  @media (max-width: 992px) {
    order: 2;
  }
  @media (max-width: 575px) {
    flex: 0 0 100%;
    text-align: center;
  }
  &-privacy {
    border-bottom: 1px dotted;
    margin-right: 5px;
    &:hover {
      color: $colorYellow;
    }
    &::after {
      content: "";
      display: inline-block;
      position: relative;
      right: -5px;
      bottom: -2px;
      height: 12px;
      width: 1px;
      background: #fff;
      @media (max-width: 520px) {
        display: none;
      }
    }
    @media (max-width: 520px) {
      display: block;
      border: none;
      text-decoration: underline;
      margin: 0;
    }
  }
  &-policy {
    border-bottom: 1px dotted;
    margin-left: 5px;
    &:hover {
      color: $colorYellow;
    }
    @media (max-width: 520px) {
      display: block;
      border: none;
      text-decoration: underline;
      margin: 0;
    }
  }
}

.toggle-top {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid;
  background: $colorCyan;
  border: 1px solid #fff;
  transition: 0.3s ease;
  background-image: url(../images/icon/backToTop-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  &:hover,
  &:focus {
    border: 1px solid $colorBlue;
    border: 1px solid transparent;
  }
}
