.footer {
  padding-bottom: 234px;
  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
  }
  &-social {
    white-space: nowrap;
    &:hover {
      color: $colorYellow;
    }
    img {
      vertical-align: middle;
    }
  }
  &-logo {
    text-align: end;
  }
}
.specification {
  &-privacy {
    border-bottom: 1px dotted;
    margin-right: 5px;
    &:hover {
      color: $colorYellow;
    }
    &::after {
      content: "";
      display: inline-block;
      position: relative;
      right: -5px;
      bottom: -2px;
      height: 12px;
      width: 1px;
      background: #fff;
      @media (max-width: 416px) {
        display: none;
      }
    }
  }
  &-policy {
    border-bottom: 1px dotted;
    margin-right: 5px;
    &:hover {
      color: $colorYellow;
    }
  }
}
