.header {
  position: relative;
  padding-top: 52px;
  margin-bottom: 78px;
  @media (max-width: 768px) {
    padding-top: 42px;
    margin-bottom: 58px;
  }
  @media (max-width: 655px) {
    padding-top: 32px;
    margin-bottom: 50px;
  }

  @media (max-width: 576px) {
    padding-top: 22px;
    margin-bottom: 40px;
  }
  @media (max-width: 476px) {
    margin-bottom: 20px;
  }
  @media (max-width: 400px) {
    margin-bottom: 0px;
  }
}
.header .container {
  position: relative;
}
.header-active {
  @media (max-width: 992px) {
    background: #301bac;
    padding-bottom: 20px;
  }
}
.toggler {
  display: none;
  position: absolute;
  right: 35px;
  bottom: 27px;

  @media (max-width: 992px) {
    display: block;
    & > div {
      position: absolute;
      width: 20px;
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -20px;
      border-radius: 1px;
      background: #fff;
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      -o-transition: transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s;
    }
    &-item-1 {
      transform: translate(0, -6px);
    }
    &-item-3 {
      transform: translate(0, 6px);
    }
  }
}
.toggler.active .toggler-item-1 {
  transform: rotate(45deg);
}
.toggler.active .toggler-item-2 {
  display: none;
}
.toggler.active .toggler-item-3 {
  transform: rotate(315deg);
}
.logo {
  position: relative;
  margin-bottom: 38px;
  padding: 0 15px;
  &-row {
    display: flex;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
  }
  &-link {
    display: inline-block;
    text-transform: lowercase;
    font-size: 42px;
    font-size: 2.625rem;
    font-weight: 500;
    color: #fff;
    transition: 0.2s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}
.navigation {
  ul {
    display: block;
    // display: flex;
    // justify-content: space-evenly;
    li {
      display: inline-block;
    }
  }
  a {
    height: 67px;
    line-height: 67px;
    // padding: 0px 15px;
    font-size: rem(15px);
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fff;
    transition: 0.3s ease;
    margin-left: 45px;
    &:hover {
      color: $colorYellow;
    }
  }
  @media (max-width: 992px) {
    display: none;
    width: 100%;
    // position: absolute;
    // top: 170px;
    // left: 0;
    // background-color: #301bac;
    ul {
      display: block;
      li {
        display: block;
        margin-bottom: 20px;
      }
    }

    a {
      font-size: rem(15px);
      height: auto;
      line-height: 1.35;
      padding: 10px 0px;
    }
  }
}
