.header {
  position: relative;
  padding-top: 52px;
  margin-bottom: 78px;
  @media (max-width: 768px) {
    padding-top: 42px;
  margin-bottom: 58px;
}
@media (max-width: 655px) {
padding-top: 32px;
  margin-bottom: 50px;

}

@media (max-width: 576px) {
 padding-top: 22px;
  margin-bottom: 40px;
}
@media (max-width: 476px) {
margin-bottom: 20px;
}
@media (max-width: 400px) {
margin-bottom: 0px;
}

}
.header-active {
  @media (max-width: 992px) {
    background: #301bac;
    padding-bottom: 20px;
  }
}
.toggler {
  display: none;
  position: relative;

  @media (max-width: 992px) {
    display: block;
    & > div {
      position: absolute;
      width: 20px;
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -20px;
      border-radius: 1px;
      background: #fff;
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      -o-transition: transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s;
    }
    &-item-1 {
      transform: translate(0, -6px);
    }
    &-item-3 {
      transform: translate(0, 6px);
    }
  }
}
.toggler.active .toggler-item-1 {
  transform: rotate(45deg);
}
.toggler.active .toggler-item-2 {
  display: none;
}
.toggler.active .toggler-item-3 {
  transform: rotate(315deg);
}
.logo {
  margin-bottom: 38px;
  &-row {
    display: flex;
    justify-content: space-between;
  }
  &-link {
    display: inline-block;
    text-transform: lowercase;
    font-size: 42px;
    font-size: 2.625rem;
    font-weight: 500;
    color: #fff;
    transition: 0.2s ease;
    &:hover {
      opacity: 0.8;
    }
  }
  &-sticker {
    width: 126px;
    height: 48px;
    line-height: 48px;
    font-weight: 700;
    transform: rotate(-18.73deg);
    @media (max-width: 400px) {
      display: none;
    }
  }
}
.navigation {
  background-color: $colorCyan;
  border-radius: 35px;
  @media (max-width: 992px) {
    display: none;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
  }
  a {
    display: block;
    height: 67px;
    line-height: 67px;
    padding: 0px 10px;
    font-size: rem(15px);
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fff;
    transition: 0.3s ease;
    &:hover {
      color: $colorYellow;
    }
  }
  @media (max-width: 992px) {
    background-color: transparent;
    border-radius: 0;
    ul {
      display: block;
    }
    a {
      height: auto;
      line-height: 1.35;
      padding: 10px 0px;
    }
  }
}
