$ffCoFo: "CoFo Sans";
$colorBlack: #1a140f;
$colorYellow: #e0fe02;
$colorBlue: #0e0060;
$colorCyan: #007bfd;

// Mixin
$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}
// a,p,ul,li,ol,h1-h6,quote,block-quote,cite, - цвета шрифта, line-height, font-size, ff,
// h1-h6 - margin-top: 22px
p {
  margin: 0px 0px 22px;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h20 {
  font-family: $ffCoFo;
  font-weight: 600;
  color: #fff;
  margin: 22px 0px 18px;
  text-transform: none;
}

h1,
.h1 {
  font-size: 48px;
  font-size: 3rem;
  margin-top: 0;
  line-height: 1.1;
}

h2,
.h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.3;
}

h3,
.h3 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.3;
}

h4,
.h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.3;
}

h5,
.h5 {
  font-size: 18px;
  font-size: 1.125rem;
}

h6,
.h6 {
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 700;
}

.h20 {
  font-size: 20px;
  font-size: 1.25rem;
}

a {
  color: #fff;
  text-decoration: none;
  outline: none;
  -webkit-transition: color 0.4s, border 0.4s;
  -o-transition: color 0.4s, border 0.4s;
  transition: color 0.4s, border 0.4s;
}

a:active {
  color: #b0b0b0;
}

b,
strong {
  font-weight: 700;
}

h1,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  font-family: $ffCoFo;
}

button {
  cursor: pointer;
}
input,
textarea {
  outline: none;
}

// Example of Btn
.ui-btn {
  display: inline-block;
  position: relative;
  height: 80px;
  line-height: 80px;
  background: $colorCyan;
  font-weight: 400;
  font-size: rem(22px);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-sticker-blue {
  display: inline-block;
  position: relative;
  background: $colorCyan;
  font-weight: 400;
  font-size: rem(24px);
  color: #ffffff;
  text-align: center;
  border-radius: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-yellow {
  background: $colorYellow;
  color: $colorBlack;
}

.ui-field {
  position: relative;
  margin-bottom: 16px;
  color: #fa5353;
  text-align: left;
}

.ui-input {
  width: 100%;
  display: block;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding-left: 24px;
  padding-right: 10px;
  font-size: rem(16px);
  border: 1px solid #ffffff00;
  color: #000;
  ::placeholder {
    font-family: $ffCoFo;
    color: #8b8d9b;
  }
  &:focus {
    border: 1px solid $colorBlue;
  }
}
.ui-label {
  display: block;
  color: #fff;
  margin-bottom: 5px;
}
.checkbox {
  margin-bottom: 28px;
  &-link {
    margin-left: 2px;
    color: $colorBlue;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}
.ui-header {
  &-container {
    padding: 0 40px;
  }
  &-sticker {
    height: 98px;
    line-height: 98px;
    font-size: rem(52px);
    padding: 0 45px;
    margin-bottom: 54px;
  }
  &-text {
    font-size: rem(24px);
    max-width: 985px;
  }
}
.ui-pgn {
  padding: 0;
  margin: 20px 0;

  &-link,
  &-current {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 7px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 0;
    border-radius: 12px;
    padding: 0px 5px;
    font-weight: 400;
    transition: none;
  }
  &-link {
    color: #000000;
    background: $colorYellow;

    &:hover {
      color: #fff;
      background: $colorCyan;
    }
  }

  &-current {
    background-color: #fff;
    color: #000;
    cursor: default;
  }

  &-btn {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: rem(14px);
    color: #fff;
    min-width: 128px;
    margin: 0px 28px;
    background: $colorCyan;
    border-radius: 8px;

    &:hover {
      color: #000;
      background: $colorYellow;
    }
  }

  @media (max-width: 576px) {
    &-link,
    &-current,
    &-btn {
      font-size: rem(10px);
      height: 22px;
      line-height: 22px;
      border-radius: 4px;
    }
    &-btn {
      min-width: 66px;
      margin: 0px 3px;
    }
    &-link,
    &-current {
      min-width: 22px;
      margin: 0px 3px;
    }
  }
}

.ui-ribbon div {
  position: absolute;
  top: 0;
  left: -2000px;
  right: -2000px;
  height: 150px;
  line-height: 150px;
  font-size: rem(52px);
  font-weight: 500;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  @media (max-width: 776px) {
    height: 100px;
    line-height: 100px;
    font-size: rem(38px);
  }
  @media (max-width: 576px) {
    height: 80px;
    line-height: 80px;
    font-size: rem(32px);
  }
  @media (max-width: 400px) {
    height: 50px;
    line-height: 50px;
    font-size: rem(24px);
  }
}

.ui-ribbon {
  &-yellow {
    background: $colorYellow;
    transform: rotate(-3deg);
    z-index: -1;
  }
  &-cyan {
    background: $colorCyan;
    transform: rotate(5deg);
    z-index: -2;
  }
}

.ui-btn-sticker {
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
}
/* hover checkbox */
.certificate-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
/* Active checkbox */
.certificate-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
