@import "grid";
@import "UI";
@import "header";
@import "footer";

$ffCoFo: "CoFo Sans", sans-serif;
$colorBlack: #1a140f;
$colorYellow: #e0fe02;
$colorBlue: #0e0060;
$colorCyan: #007bfd;

// Mixin
$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}
// border style mixin

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: $ffCoFo;
  font-weight: 400;
  font-size: rem(15px);
  line-height: 1.42;
  color: #ffffff;
  background-color: $colorBlue;

}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}
#middle {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  padding-bottom: 200px;
  @media (max-width: 400px) {
    padding-bottom: 100px;
  }
}

#footer {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
  @media (max-width: 480px) {
    max-width: 1210px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width:1170px) {
  ::-webkit-scrollbar {
    background: #0368d3;
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
  background: #1d00bf;
  width: 8px;
  height: 8px;
  -webkit-transition: all .8s;
  transition: all .8s;
}
}


// Slider gifts-slider

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  opacity: 1;
  background: #ffffff;
}
.swiper-pagination-bullet-active {
  background: $colorCyan;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 8px;
}

.top-screen {
  margin-bottom: 200px;
  @media (max-width: 992px) {
    margin-bottom: 100px;
  }
}
.miss {
  position: relative;
  margin-bottom: 400px;
  &-title {
    font-size: rem(52px);
    font-weight: 500;
    margin-bottom: 30px;
    @media (max-width: 992px) {
      font-size: rem(42px);
    }
    @media (max-width: 576px) {
      font-size: rem(38px);
    }
    @media (max-width: 400px) {
      font-size: rem(30px);
    }
  }
  &-text {
    max-width: 540px;
    line-height: 1.5;
    margin-bottom: 45px;
  }
  &-sticker-chees {
    height: 92px;
    line-height: 92px;
    padding: 0 40px;
    font-size: rem(48px);
    font-weight: 500;
    border-radius: 70px;
    @media (max-width: 1170px) {
      height: 82px;
      line-height: 82px;
      font-size: rem(38px);
    }
    @media (max-width: 992px) {
      height: 62px;
      line-height: 62px;
      font-size: rem(32px);
    }
    @media (max-width: 768px) {
      height: 52px;
      line-height: 52px;
      font-size: rem(24px);
    }
    @media (max-width: 576px) {
      height: 32px;
      line-height: 32px;
      font-size: rem(22px);
    }
  }
  &-sticker-donotmiss {
    position: absolute;
    right: 62px;
    top: 47px;
    transform: rotate(-15.4deg);
    height: 135px;
    line-height: 135px;
    padding: 0 40px;
    font-size: rem(55px);
    font-weight: 500;
    border-radius: 40px;
    @media (max-width: 1170px) {
      height: 105px;
      line-height: 105px;
      padding: 0 25px;
      border-radius: 30px;
      font-size: rem(48px);
    }
    @media (max-width: 992px) {
      font-size: rem(42px);
      top: 240px;
      right: 0;
    }
    @media (max-width: 768px) {
      // font-size: rem(28px);
    }
    @media (max-width: 576px) {
      height: 55px;
      line-height: 55px;
      padding: 0 20px;
      font-size: rem(28px);
      border-radius: 20px;
    }
  }
  @media (max-width: 992px) {
    margin-bottom: 200px;
  }
}
.gifts {
  position: relative;
  // height: 368px;
  padding-top: 300px;
  margin-bottom: 270px;
  &-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  &-btn {
    padding: 0 75px;
    font-size: rem(22px);
    transition: 0.3s ease;
    &:hover {
      background: #007afd8e;
    }
    @media (max-width: 776px) {
      height: 60px;
      line-height: 60px;
      padding: 0 55px;
    }
    @media (max-width: 576px) {
      height: 50px;
      line-height: 50px;
      padding: 0 45px;
    }
    @media (max-width: 400px) {
      height: 40px;
      line-height: 40px;
      padding: 0 25px;
    }
  }

  @media (max-width: 992px) {
    margin-bottom: 100px;
  }
  @media (max-width: 576px) {
    padding-top: 180px;
  }
  @media (max-width: 400px) {
    padding-top: 120px;
  }
}
.video {
  position: relative;
  margin-bottom: 277px;

  @media (max-width: 992px) {
    margin-bottom: 100px;
  }
  &-container {
    position: relative;
    padding-bottom: 56.25%;
    border: 2px solid #fff;
    border-radius: 25px;
    overflow: hidden;
    video {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
  &-frame {
    width: 100%;
    height: 100%;
  }

  &-sticker {
    position: absolute;
    z-index: 1;
    bottom: 39px;
    right: 0px;
    padding: 0 54px;
    height: 109px;
    border-radius: 109px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
    &-img {
      width: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
    @media (max-width: 992px) {
      padding: 0 44px;
      height: 88px;
    }
    @media (max-width: 576px) {
      padding: 0 34px;
      height: 68px;
      bottom: 18px;
    }
    @media (max-width: 400px) {
      padding: 0 20px;
      height: 40px;
      bottom: 2px;
    }
  }
  &-sticker-text {
    position: absolute;
    bottom: -50px;
    right: -72px;
    padding: 0px 30px;
    height: 83px;
    line-height: 83px;
    font-size: rem(43px);
    transform: rotate(-15.53deg);
    @media (max-width: 1300px) {
      right: -34px;
    }
    @media (max-width: 992px) {
      padding: 0px 25px;
      height: 63px;
      line-height: 63px;
      font-size: rem(33px);
      bottom: -18px;
    }
    @media (max-width: 576px) {
      padding: 0px 20px;
      height: 40px;
      line-height: 40px;
      font-size: rem(23px);
    }
    @media (max-width: 400px) {
      padding: 0px 10px;
      height: 23px;
      line-height: 23px;
      font-size: rem(15px);
      right: -22px;
    }
  }
  &-hide-item {
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
    top: 0;
  }
}
.ui-video-play:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.05);
  -ms-transform: translate(-50%, -50%) scale(1.05);
  transform: translate(-50%, -50%) scale(1.05);
}

.lectures {
  position: relative;
  margin-bottom: 113px;
  &-title {
    font-size: rem(52px);
    margin-bottom: 54px;
    @media (max-width: 992px) {
      font-size: rem(42px);
    }
    @media (max-width: 576px) {
      font-size: rem(38px);
    }
    @media (max-width: 400px) {
      font-size: rem(32px);
      margin-bottom: 34px;
    }
  }
  &-text {
    font-size: rem(24px);
    margin-bottom: 70px;
    max-width: 570px;
    @media (max-width: 575px) {
      font-size: rem(18px);
    }
    @media (max-width: 400px) {
      margin-bottom: 40px;
    }
  }
  &-streamers {
    &-streamer {
      min-height: calc(100% - 16px);
      margin-bottom: 38px;
      padding: 10px 0px;
      &-date {
        font-size: 12px;
        margin-bottom: 9px;
      }
      &-img {
        flex: 25%;
        max-width: 25%;
        line-height: 0;
        img {
          display: inline-block;
          border-radius: 50%;
        }
      }
      &-group {
        width: 100%;
        padding-left: 14px;
      }
      &-sticker {
        font-size: rem(12px);
        height: 21px;
        line-height: 21px;
        padding: 0 14px;
        border-radius: 3px;
        margin-bottom: 5px;
      }

      &-title {
        font-size: rem(21px);
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 10px;
        padding-right: 10%;
        @media (max-width: 765px) {
          padding-right: 0;
        }
      }
      &-name {
        font-size: rem(15px);
      }
    }
  }
  &-sticker {
    position: absolute;
    z-index: -2;
    right: -100px;
    top: 58px;
    transform: rotate(23deg);
    height: 144px;
    line-height: 144px;
    padding: 0 55px;
    font-size: rem(59px);
    font-weight: 500;
    &-heart {
      position: absolute;
      z-index: -1;
      right: -109px;
      top: 227px;
      background: $colorYellow;
      height: 171px;
      width: 171px;
      border-radius: 50%;
      img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
      @media (max-width: 1350px) {
        right: 18px;
      }
      @media (max-width: 1170px) {
        height: 60px;
        width: 60px;
        top: 171px;
        right: 55px;
        img {
          width: 50%;
        }
      }
      @media (max-width: 992px) {
        height: 50px;
        width: 50px;
        top: 152px;
        right: 10px;
      }
      @media (max-width: 765px) {
        display: none;
      }
    }
    @media (max-width: 1350px) {
      right: 38px;
    }
    @media (max-width: 1170px) {
      height: 80px;
      line-height: 80px;
      padding: 0 20px;
      font-size: rem(45px);
    }
    @media (max-width: 992px) {
      height: 70px;
      line-height: 70px;
      font-size: rem(38px);
      right: -6px;
    }
    @media (max-width: 765px) {
      display: none;
    }
  }
}
.podcast {
  position: relative;
  margin-bottom: 200px;
  @media (max-width: 992px) {
    margin-bottom: 100px;
  }
  &-btn {
    text-align: center;
    &-download {
      padding: 0 40px;
      @media (max-width: 992px) {
        font-size: rem(20px);
      }
      @media (max-width: 765px) {
        height: 60px;
        line-height: 60px;
        font-size: rem(18px);
      }
      @media (max-width: 575px) {
        height: 50px;
        line-height: 50px;
        font-size: rem(16px);
      }
      @media (max-width: 400px) {
        font-size: rem(14px);
      }
    }
  }
}
.achievement {
  margin-bottom: 200px;

  &-item {
    background: $colorCyan;
    height: calc(100% - 32px);
    border-radius: 30px;
    color: #fff;
    padding: 134px 65px;
    font-size: rem(24px);
    line-height: 1.3;
    text-align: center;
    margin-bottom: 32px;
  }
  &-text {

    font-weight: 500;
    margin-bottom: 22px;
  }
  &-btn {
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  &-yel {
    background: $colorYellow;
    color: $colorBlack;
  }
}
.podcasts-slider {
  &-wrp {
    padding-left: 75px;
    padding-right: 75px;
    position: relative;
    margin-bottom: 60px;
  }

  &-slide {
    width: 604px;

    img {
      display: block;
    }
  }

  &-next,
  &-prev {
    width: 61px;
    height: 61px;
    line-height: 59px;
    border: 1px solid #ffffff00;
    border-radius: 50%;
    margin-top: -27px;
    background-color: $colorCyan;
    color: #fff;
    transition: 0.3s ease;

    &:after {
      font-size: 20px;
    }

    &:hover {
      // background-color: rgba(#fff, 0.85);
      border: 1px solid #fff;
      // color: black;
    }
  }
  &-prev {
    left: 0;
  }
  &-next {
    right: 0;
  }
  &-icon {
    position: absolute;
    right: -35px;
    top: -114px;
    width: 150px;
    transform: rotate(327deg);
    z-index: -1;
  }

  @media (max-width: 992px) {
    &-slide {
      width: 440px;
    }
    &-icon {
      display: none;
      visibility: hidden;
    }
  }

  @media (max-width: 768px) {
    &-slide {
      width: 50vw;
    }
    &-wrp {
      padding-left: 35px;
      padding-right: 35px;
    }
    &-next,
    &-prev {
      width: 25px;
      height: 25px;
      line-height: 23px;
      margin-top: -12px;

      &:after {
        font-size: 10px;
      }
    }
  }

  @media (max-width: 480px) {
    &-wrp {
      padding-left: 25px;
      padding-right: 25px;
    }
    &-slide {
      width: 68vw;
    }
    &-prev {
      left: -5px;
    }
    &-next {
      right: -5px;
    }
  }
}
.podcasts-card {
  position: relative;
  padding-bottom: 65%;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 30px;
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &-plug {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 30px;
  }
  &-play {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 86px;
    height: 86px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: $colorYellow url(../images/icon/play.svg) 54% 50% no-repeat;
    background-size: 24px;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s;

    &:hover {
      transform: translate(-50%, -50%) scale(1.05);
    }
  }

  @media (max-width: 576px) {
    &-play {
      width: 60px;
      height: 60px;
      background-size: 19px;
    }
  }
}
.swiper-slide-active {
  .podcasts-card-play {
    visibility: visible;
    opacity: 1;
  }
}
.podcasts-slider-pgn {
  .swiper-pagination-bullet {
    display: inline-block;
    position: relative;
    height: 80px;
    width: 230px;
    line-height: 80px;
    background: #007bfd;
    font-weight: 400;
    font-size: 1.375rem;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}
.swiper-pagination-bullet-active {
  position: relative;
  z-index: 99999;
}
.broadcast {
  position: relative;
  text-align: center;
  padding-top: 300px;
  margin-bottom: 176px;
  &-sticker {
    height: 97px;
    line-height: 97px;
    font-size: rem(52px);
    padding: 0 35px;
    margin-bottom: 70px;
    @media (max-width: 992px) {
      font-size: rem(42px);
    }
    @media (max-width: 575px) {
      height: 77px;
      line-height: 77px;
      font-size: rem(34px);
      padding: 0 30px;
      margin-bottom: 50px;
    }
    @media (max-width: 400px) {
      height: 67px;
      line-height: 67px;
      font-size: rem(24px);
      padding: 0 25px;
      margin-bottom: 20px;
    }
    &-tree {
      position: absolute;
      height: 66px;
      width: 170px;
      top: 0;
      left: 0;
      transform: rotate(-17.61deg);
      img {
        width: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
    &-rocket {
      position: absolute;
      height: 66px;
      width: 170px;
      border-radius: 15px;
      right: 0;
      transform: rotate(-17.98deg);
      img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
      @media (max-width: 400px) {
        bottom: 0px;
      }
    }
    &-tree,
    &-rocket {
      @media (max-width: 992px) {
        height: 56px;
        width: 130px;
      }
      @media (max-width: 575px) {
        height: 46px;
        width: 110px;
      }
      @media (max-width: 400px) {
        height: 46px;
        width: 90px;
      }
    }
  }
  &-text {
    display: inline-block;
    text-align: center;
    max-width: 800px;
    font-size: rem(24px);
    margin-bottom: 70px;
    @media (max-width: 575px) {
      font-size: rem(22px);
    }
    @media (max-width: 400px) {
      font-size: rem(18px);
    }
  }
  &-btn {
    &-link {
      padding: 0 20px;

      @media (max-width: 575px) {
        padding: 0 15px;
        height: 60px;
        line-height: 60px;
      }
      @media (max-width: 400px) {
        font-size: rem(20px);
      }
    }
  }
  @media (max-width: 776px) {
    padding-top: 200px;
    margin-bottom: 200px;
  }
  @media (max-width: 576px) {
    padding-top: 150px;
    margin-bottom: 150px;
  }
  @media (max-width: 400px) {
    padding-top: 100px;
    margin-bottom: 100px;
  }
}
.event {
  position: relative;
  margin-bottom: 242px;
  &-title {
    font-size: rem(52px);
    font-weight: 500;
    margin-bottom: 30px;
    @media (max-width: 400px) {
      font-size: rem(40px);
    }
  }
  &-text {
    max-width: 540px;
    font-size: rem(24px);
    line-height: 1.5;
  }
  &-sticker-photo {
    position: absolute;
    right: 261px;
    top: -30px;
    width: 163px;
    height: 163px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
    transform: rotate(20deg);
    border-radius: 20px;
    img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
    @media (max-width: 1170px) {
      width: 123px;
      height: 123px;
      right: 87px;
      img {
        width: 50%;
      }
    }
    @media (max-width: 992px) {
      width: 83px;
      height: 83px;
      right: 29px;
      top: 0;
    }
    @media (max-width: 768px) {
      width: 53px;
      height: 53px;
      bottom: -53px;
      top: auto;
    }
  }
  &-sticker-chees {
    position: absolute;
    right: 5px;
    top: 95px;
    height: 143px;
    line-height: 143px;
    padding: 0 30px;
    transform: rotate(-25deg);
    font-size: rem(80px);
    font-weight: 500;
    border-radius: 70px;
    @media (max-width: 1170px) {
      height: 123px;
      line-height: 123px;
      font-size: rem(70px);
    }
    @media (max-width: 992px) {
      height: 83px;
      line-height: 83px;
      font-size: rem(40px);
    }
    @media (max-width: 768px) {
      height: 83px;
      line-height: 83px;
      font-size: rem(50px);
      bottom: -149px;
      top: auto;
    }
  }
}
.gentleman {
  margin-bottom: 176px;
  @media (max-width: 992px) {
    margin-bottom: 150px;
  }
  @media (max-width: 400px) {
    margin-bottom: 100px;
  }
  &-title {
    font-size: rem(52px);
    margin-bottom: 30px;
    @media (max-width: 576px) {
      font-size: rem(38px);
    }
    @media (max-width: 400px) {
      font-size: rem(34px);
    }
  }
  &-header {
    margin-bottom: 80px;
    @media (max-width: 400px) {
      margin-bottom: 40px;
    }
  }
}
.gentleman .ui-pgn span {
  &:hover {
    background: $colorCyan;
    color: #fff;
  }
}
.lady .ui-pgn span {
  &:hover {
    background: $colorBlue;
    color: #fff;
  }
}
.histories-list {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}
.histories-card {
  position: relative;
  margin-bottom: 40px;
  @media (max-width: 400px) {
    margin-bottom: 20px;
  }
  .ui-video {
    display: block;
    margin-bottom: 15px;
    background: #fff;
  }
  &-img {
    display: block;
    position: relative;
    padding-bottom: 65%;
    margin-bottom: 15px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    @media (max-width: 768px) {
      border-radius: 15px;
    }
    &.mfp-gallery {
      cursor: pointer;
    }

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    & > img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
    }
  }

  &-bottom {
    position: relative;
    padding-right: 115px;
  }

  &-author {
    font-size: rem(19px);
  }

  &-likes {
    position: absolute;
    right: 8px;
    top: 2px;

    &-counter {
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
      height: 25px;
      line-height: 25px;
      min-width: 45px;
      text-align: center;
      padding: 0px 5px;
      border-radius: 8px;
      background: $colorCyan;
      color: #fff;
      font-size: rem(15px);
      font-weight: 500;
      @media (max-width: 768px) {
        margin-right: 0;
      }
    }
    &-btn {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 24px;
      background: url(../images/icon/like.svg) center no-repeat;
      background-size: contain;
    }
    @media (max-width: 768px) {
      top: -5px;
    }
    // @media (max-width: 400px) {
    //   top: -2px;
    // }
  }
  &-text {
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 315px;
    height: 326px;
    background: #fff;
    border-radius: 30px;
    padding: 27px 37px;
    font-size: rem(14px);
    color: $colorBlack;
    line-height: 1.5;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      display: block;
    }
    @media (max-width: 1170px) {
      height: 300px;
      width: 285px;
      font-size: rem(12px);
      padding: 27px 27px;
      top: 42%;
    }
    @media (max-width: 400px) {
      height: 226px;
      width: 225px;
      font-size: rem(9px);
      top: 42%;
    }
  }

  @media (max-width: 768px) {
    &-author {
      font-size: rem(16px);
      line-height: 1.1;
    }
    &-likes-counter {
      min-width: 35px;
      font-size: rem(12px);
      height: 20px;
      line-height: 20px;
    }
    &-likes-btn {
      width: 28px;
      height: 20px;
    }
  }
}
.histories-card-img:hover + .histories-card-text {
  display: block;
}

.histories-pgn {
  padding: 20px 0px;
  border-radius: 100px;

  &-link {
    padding: 0 38px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
    @media (max-width: 576px) {
      height: 55px;
      line-height: 55px;
      font-size: rem(20px);
    }
    @media (max-width: 480px) {
      height: 60px;
      line-height: 60px;
      font-size: rem(20px);
    }
  }
  @media (max-width: 992px) {
    display: block;
    text-align: center;
    border-radius: 0;
    margin-left: -100px;
    margin-right: -100px;
    padding: 0;
  }
}
.lady {
  background: $colorCyan;
  padding: 124px 0px 150px 0px;
  &-btn {
    background: $colorYellow;
    color: $colorBlack;
    &:hover {
      background: #c6df0d;
    }
    &-skip {
      background: $colorBlue;
    }
  }
  &-pgn-link {
    &:hover {
      background: $colorBlue;
    }
  }
  &-likes {
    background: $colorBlue;
  }
  @media (max-width: 400px) {
    padding: 60px 0px 70px 0px;
  }
}
.certificate {
  position: relative;
  margin-bottom: 200px;
  @media (max-width: 400px) {
    margin-bottom: 100px;
  }
  &-header {
    margin: 0 auto;
    padding-top: 300px;
    margin-bottom: 80px;
    @media (max-width: 768px) {
      padding-top: 200px;
    }
    @media (max-width: 400px) {
      padding-top: 120px;
    }
  }
  &-text {
    margin: 0 auto;
    text-align: center;
    font-size: rem(24px);
    max-width: 750px;
    @media (max-width: 400px) {
      font-size: rem(20px);
    }
  }
}
.certificate-row {
  position: relative;
  text-align: left;
}
.certificate-footer {
  &-field {
    margin-bottom: 0;
    input {
      position: relative;
      height: 58px;
      line-height: 58px;
    }
    @media (max-width: 576px) {
      margin-bottom: 25px;
    }
  }
  &-label {
    font-size: rem(11px);
    margin-bottom: 7px;
  }
  &-btn {
    border: none;
    width: 100%;
    padding: 0px 20px;
    @media (max-width: 768px) {
      font-size: rem(18px);
    }
  }
}
.certificate-item {
  margin-bottom: 43px;
}
.certificate-items {
  margin-bottom: 38px;
}
.certificate-label {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  line-height: 48px;
  border-radius: 30px;
  color: $colorBlack;
  cursor: pointer;
  border: 1px solid #ffffff00;
  &-text {
    font-size: rem(19px);
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    padding-right: 90px;
    @media (max-width: 800px) {
      font-size: rem(16px);
      line-height: 1.1;
    }
  }
  &-btn {
    position: absolute;
    right: 0;
    top: -4px;
    display: inline-block;
    width: 82px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: $colorCyan;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
  }
  &-img {
    background: #fff;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 22px;

    & img {
      transition: 0.3s ease;
    }
    & img:hover {
      transform: scale(1.03);
    }
  }
}

.certificate-active * .certificate-label-btn {
  background: $colorYellow;
  font-size: 0;
  background-image: url(../images/icon/check.svg);
  background-repeat: no-repeat;

  background-position: center;
}
input[type="radio"] {
  display: none;
}

.stream {
  position: relative;
  margin-bottom: 100px;
  @media (max-width: 576px) {
    margin-bottom: 0px;
  }
  &-title {
    @media (max-width: 400px) {
      font-size: rem(24px);
    }
  }
  &-text {
    max-width: 750px;
    margin-bottom: 60px;
  }
  &-btn {
    padding: 0px 37px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.2);
    @media (max-width: 768px) {
      display: block;
    }
    @media (max-width: 400px) {
      padding: 0px 33px;
      font-size: rem(18px);
    }
  }
  &-sticker {
    @media (max-width: 1350px) {
      right: -90px;
    }
    @media (max-width: 1170px) {
      right: -36px;
    }
    @media (max-width: 992px) {
      bottom: 0;
      top: initial;
    }
  }
  &-sticker-heart {
    @media (max-width: 1350px) {
      right: -71px;
    }
    @media (max-width: 1170px) {
      right: -16px;
    }
    @media (max-width: 992px) {
      bottom: 17px;
      top: initial;
    }
  }
}
.file-input {
  display: none;
}
.upload-photo {
  font-size: rem(18px);
  text-decoration: underline;
  text-align: center;
  margin-bottom: 18px;
  cursor: pointer;
  &-type {
    color: #d4d4d4;
    text-align: center;
    font-size: rem(12px);
    line-height: 1.5;
  }
  img {
    position: relative;
    bottom: -2px;
    margin-right: 12px;
  }
}

.field-upload-photo {
  margin-bottom: 30px;
}
// PopUp
.popups-links > ul > li {
  list-style: outside;
  margin-left: 20px;
}
.popups-links > ul > li > a {
  &:hover {
    color: $colorBlue;
  }
}
.popups-links-title {
  font-size: rem(20px);
  color: $colorBlack;
}
.pages-link {
  margin-bottom: 15px;
}
.pages-link > ul > li {
  list-style: outside;
  margin-left: 20px;
}
.pages-link-title-main {
  &:hover {
    color: $colorBlue;
  }
}

// end pages.html

// popup style
.popup-form {
  background: $colorCyan;
  position: relative;
  margin: 20px auto;
  max-width: 784px;
  padding: 85px 125px 85px 125px;
  border-radius: 16px;
  &-img {
    margin-bottom: 15px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &-title {
    display: block;
    font-size: rem(24px);
    text-align: center;
    font-weight: 600;
    color: $colorBlack;
    max-width: 520px;
    line-height: 34.8px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  &-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    max-width: 450px;
    margin-bottom: 24px;
    font-size: rem(20px);
    span {
      font-weight: 700;
      color: $colorBlue;
    }

    @media (max-width: 776px) {
      font-size: rem(18px);
    }
    @media (max-width: 576px) {
      font-size: rem(16px);
    }
    @media (max-width: 400px) {
      text-align: center;
      font-size: rem(14px);
    }
  }
  &-btn {
    display: block;
    border: none;
    margin: 0 auto;
    max-width: 340px;
    height: 60px;
    line-height: 60px;
    background: $colorBlue;
    font-size: rem(16px);
    font-weight: 600;
    transition: 0.3s ease;
    &:hover {
      background: #4258ff;
    }
  }
  .upload-hint {
    font-size: rem(12px);
  }

  @media (max-width: 992px) {
    max-width: 730px;
  }
  @media (max-width: 776px) {
    max-width: 530px;
    padding: 60px 20px 50px 20px;
  }
  @media (max-width: 576px) {
    max-width: 380px;
    padding: 40px 10px 50px 10px;
  }
  @media (max-width: 400px) {
    max-width: 330px;
    padding: 40px 10px 50px 10px;
  }
}
.mfp-close {
  opacity: 1 !important;
  font-size: rem(40px);
  color: #fff !important;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: black !important;
  right: -20px;
  top: -20px;
  transition: 0.3s ease;
  &:active {
    top: -20px;
    @media (max-width: 476px) {
      top: -12px;
    }
  }
  &:hover {
    transform: rotate(90deg);
  }
  @media (max-width: 476px) {
    width: 29px;
    height: 29px;
    line-height: 29px;
    font-size: rem(25px);
    right: -12px;
    top: -12px;
  }
}

.confirmation {
  padding: 48px 40px;
  &-img {
    margin-bottom: 15px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &-title {
    display: block;
    font-size: rem(24px);
    text-align: center;
    font-weight: 600;
    color: $colorBlack;
    max-width: 520px;
    line-height: 34.8px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  &-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
    max-width: 600px;
    margin-bottom: 24px;
  }
  &-btn {
    display: block;
    font-size: 0;

    &-tcs {
      height: 60px;
      line-height: 60px;
      font-size: rem(16px);
      font-weight: 600;
      color: $colorBlue;
      background: #f6f7ff;
      margin-right: 13px;
      transition: 0.3s ease;
      border: 1px solid #dddddd00;
      &:hover {
        border: 1px solid $colorBlue;
      }
    }
    &-upload {
      height: 60px;
      line-height: 60px;
      font-size: rem(16px);
      font-weight: 600;
      color: #ffffff;
      background: $colorBlue;
      transition: 0.3s ease;
      &:hover {
        background: #3e53f7;
      }
    }
  }
}

.tcs-title {
  font-size: 24px;
  font-weight: 600;
  color: #20233e;
  text-align: center;
  margin-bottom: 16px;
}
.tcs-container {
  background: #f7f7fb;
  border-radius: 10px;
  margin-bottom: 24px;
}
.tcs-container-content {
  padding: 20px 16px 20px 20px;
}
.tcs-container-content-list {
  max-height: calc(100vh - 106px);
  padding-right: 20px;
  overflow-y: auto;
  font-size: rem(14px);
  font-weight: 400;
  color: #242424;
  line-height: 25.2px;
  li {
    margin-bottom: 16px;
  }
  &::-webkit-scrollbar-thumb {
    background: #3c50e0;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #dbe2ef;
    border-radius: 40px;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
}

// question popups
// PopUp animation
/* MFP Animations
---------------------------*/
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.4s 0.35s;
  transform: scale(0.75);
}

.delay-back .my-mfp-zoom-in .zoom-anim-dialog,
.my-mfp-zoom-in .zoom-anim-dialog.delay-back {
  animation-delay: 0s !important;
  transition: all 0.4s 0s;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.75);
  opacity: 0;
}

/* Dark overlay, start state */
.mfp-bg {
  opacity: 0;
  transform: scale(0.75);
  transition: opacity 0.3s, transform 0.3s;
}

/* animate in */
.mfp-bg.mfp-ready {
  opacity: 0.7;
  transform: scale(1);
}

/* animate out */
.mfp-removing.mfp-bg {
  opacity: 0;
  transform: scale(1);
}

.mfp-container {
  @media (max-width: 400px) {
    padding: 0 15px;
  }
}
// popup thanks
.popup-thanks {
  text-align: center;
}
.thanks-sticker {
  display: inline-block;
  padding: 0 25px;
  border-radius: 25px;
  font-size: rem(30px);
  font-weight: 500;
  line-height: 55px;
  margin-bottom: 33px;
  @media (max-width: 400px) {
    font-size: rem(24px);
  }
}
.thanks-text {
  max-width: 600px;
}
// popup graz
.popup-graz {
  text-align: center;
}
.graz-text {
  max-width: 100%;
}
// popup error
.popup-error {
  text-align: center;
}
// popup form
.popup-form {
  text-align: center;
}
.form-container {
  max-width: 255px;
  margin: 0 auto;
}
.form-btn {
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0px 30px;
  font-size: rem(22px);
}
.form-textarea-container {
  margin-bottom: 30px;
}
.form-text-field {
  padding: 16px 24px;
  width: 100%;
  height: 174px;
  border-radius: 8px;
  resize: none;
  font-size: rem(18px);
  border: 1px solid #ffffff00;
  &::placeholder {
    color: #c0c0c0;
    font-size: rem(18px);
    font-family: "CoFo Sans", sans-serif;
  }
  &:hover {
    border: 1px solid $colorBlue;
  }
}
// upload
.popup-upload {
  background: $colorCyan;
  position: relative;
  margin: 20px auto;
  max-width: 490px;
  padding: 75px 25px;
  border-radius: 16px;
}
.upload-input {
  height: 58px;
  line-height: 58px;
}
.upload-label {
  color: #fff;
  font-size: rem(11px);
}
.upload-hint {
  color: #fff;
}
.upload-btn {
  border: none;
  font-size: rem(22px);
  padding: 0 55px;
  background: $colorBlue;

  &:hover {
    background: #2c17a7;
  }
}
.upload-error {
  font-size: rem(13px);
  color: #ff7070;
  text-align: left;
  font-weight: 500;
}
.upload-input.upload-error {
  font-size: rem(16px);
  color: $colorBlack;
  font-family: $ffCoFo;
  font-weight: 400;
}
.form-text-field.upload-error {
  font-size: rem(16px);
  color: $colorBlack;
  font-family: $ffCoFo;
  font-weight: 400;
}
.upload-container-field {
  margin-bottom: 25px;
}
.mfp-popup-header {
  text-align: center;
}
// popup-media
.popup-media {
  padding: 0;
  max-width: 940px;
  min-height: 0;

  &-slider {
    width: 940px;
    max-width: 100%;
  }
  &-prev,
  &-next {
    width: 61px;
    height: 61px;
    line-height: 59px;
    border: 1px solid #ffffff00;
    border-radius: 50%;
    margin-top: -27px;
    background-color: #007bfd;
    color: #fff;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;

    &:after {
      font-size: 24px;
    }
    &:hover {
      border: 1px solid #fff;
      color: #fff;
    }
  }

  &-video {
    width: 100%;
    display: block;
    max-height: calc(100vh - 77px);
  }

  &-img {
    display: block;
    margin: 0 auto;
    max-height: calc(100vh - 77px);
  }

  &-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:empty) {
      padding: 10px 15px;
      font-weight: 500;
      color: #fff;
    }
  }

  @media (max-width: 480px) {
    width: 100%;
    margin-top: 35px;

    // button.mfp-close {
    //   right: 10px;
    //   top: -35px !important;
    // }

    &-prev,
    &-next {
      width: 25px;
      height: 25px;
      line-height: 23px;
      margin-top: -31px;

      &:after {
        font-size: 12px;
      }
    }
  }
}
// Modificator
.active {
  background: $colorBlue;
}
.border {
  border: 1px solid $colorBlue;
  .ui-answer-btn-num {
    color: $colorBlue;
  }
}
.error {
  display: block;
}

.mail-form {
  position: absolute;
}

