@import "grid";
@import "UI";
@import "media";
@import "header";
@import "footer";

$ffCoFo: "CoFo Sans", sans-serif;
$colorBlack: #1a140f;
$colorYellow: #e0fe02;
$colorBlue: #0e0060;
$colorCyan: #007bfd;

// Mixin
$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}
// border style mixin

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: $ffCoFo;
  font-weight: 400;
  font-size: rem(15px);
  line-height: 1.42;
  color: #ffffff;
  background-color: $colorBlue;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}
#middle {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  padding-bottom: 90px;
}

#footer {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
  @media (max-width: 480px) {
    max-width: 1210px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

// Slider gifts-slider

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  opacity: 1;
  background: #ffffff;
}
.swiper-pagination-bullet-active {
  background: $colorCyan;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 8px;
}

.top-screen {
  margin-bottom: 200px;
  @media (max-width: 992px) {
    margin-bottom: 100px;
  }
}
.gifts {
  position: relative;
  // height: 368px;
  padding-top: 300px;
  margin-bottom: 270px;
  &-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  &-btn {
    padding: 0 75px;
    font-size: rem(22px);
    transition: 0.3s ease;
    &:hover {
      background: #007afd8e;
    }
    @media (max-width: 400px) {
      height: 50px;
      line-height: 50px;
      padding: 0 35px;
    }
  }

  @media (max-width: 992px) {
    margin-bottom: 100px;
  }
  @media (max-width: 576px) {
    padding-top: 180px;
  }
  @media (max-width: 400px) {
  }
}
.video {
  position: relative;
  height: 664px;
  margin-bottom: 277px;

  @media (max-width: 992px) {
    height: 550px;
    margin-bottom: 100px;
  }
  @media (max-width: 576px) {
    height: 480px;
  }
  @media (max-width: 400px) {
    height: 320px;
  }
  &-container {
    height: 100%;
    border: 2px solid #fff;
    border-radius: 25px;
    overflow: hidden;
  }
  &-frame {
    width: 100%;
    height: 100%;
  }
  &-sticker {
    position: absolute;
    z-index: 1;
    bottom: 54px;
    right: 0px;
    padding: 0 54px;
    height: 109px;
    border-radius: 109px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
    &-img {
      width: -webkit-fill-available;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
    @media (max-width: 992px) {
      padding: 0 44px;
      height: 88px;
    }
    @media (max-width: 576px) {
      padding: 0 34px;
      height: 68px;
      bottom: 18px;
    }
    @media (max-width: 400px) {
      padding: 0 20px;
      height: 40px;
      bottom: 2px;
    }
  }
  &-sticker-text {
    position: absolute;
    bottom: -35px;
    right: -72px;
    padding: 0px 30px;
    height: 83px;
    line-height: 83px;
    font-size: rem(43px);
    transform: rotate(-15.53deg);
    @media (max-width: 1300px) {
      right: -34px;
    }
    @media (max-width: 992px) {
      padding: 0px 25px;
      height: 63px;
      line-height: 63px;
      font-size: rem(33px);
      bottom: -18px;
    }
    @media (max-width: 576px) {
      padding: 0px 20px;
      height: 40px;
      line-height: 40px;
      font-size: rem(23px);
    }
    @media (max-width: 400px) {
      padding: 0px 10px;
      height: 23px;
      line-height: 23px;
      font-size: rem(15px);
      right: -22px;
    }
  }
}
.lectures {
  position: relative;
  margin-bottom: 113px;
  &-title {
    font-size: rem(52px);
    margin-bottom: 54px;
    @media (max-width: 992px) {
      height: 78px;
      line-height: 78px;
      font-size: rem(38px);
    }
    @media (max-width: 576px) {
      height: 68px;
      line-height: 68px;
      font-size: rem(32px);
    }
    @media (max-width: 400px) {
      height: 38px;
      line-height: 38px;
      font-size: rem(22px);
      margin-bottom: 34px;
    }
  }
  &-text {
    font-size: rem(24px);
    margin-bottom: 70px;
    max-width: 570px;
    @media (max-width: 575px) {
      font-size: rem(18px);
    }
    @media (max-width: 400px) {
      margin-bottom: 40px;
    }
  }
  &-streamers {
    &-streamer {
      min-height: calc(100% - 16px);
      margin-bottom: 38px;
      padding: 10px 0px;
      &-date {
        font-size: 12px;
        margin-bottom: 9px;
      }
      &-img {
        flex: 25%;
        max-width: 25%;
        line-height: 0;
        img {
          display: inline-block;
          border-radius: 50%;
        }
      }
      &-group {
        width: 100%;
        padding-left: 14px;
      }
      &-sticker {
        font-size: rem(12px);
        height: 21px;
        line-height: 21px;
        padding: 0 14px;
        border-radius: 3px;
        margin-bottom: 5px;
      }

      &-title {
        font-size: rem(21px);
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 10px;
        padding-right: 10%;
      }
      &-name {
        font-size: rem(15px);
      }
    }
  }
  &-sticker {
    position: absolute;
    z-index: -2;
    right: -100px;
    top: 58px;
    transform: rotate(23deg);
    height: 144px;
    line-height: 144px;
    padding: 0 55px;
    font-size: rem(59px);
    font-weight: 500;
    &-heart {
      position: absolute;
      z-index: -1;
      right: -109px;
      top: 227px;
      background: $colorYellow;
      height: 171px;
      width: 171px;
      border-radius: 50%;
      img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
      @media (max-width: 1350px) {
        right: 18px;
      }
      @media (max-width: 1170px) {
        height: 100px;
        width: 100px;
        top: 205px;
        img {
          width: -webkit-fill-available;
        }
      }
      @media (max-width: 992px) {
        height: 70px;
        width: 70px;
        top: 170px;
      }
    }
    @media (max-width: 1350px) {
      right: 38px;
    }
    @media (max-width: 1170px) {
      height: 110px;
      line-height: 110px;
      padding: 0 40px;
    }
    @media (max-width: 992px) {
      height: 90px;
      line-height: 90px;
      font-size: rem(38px);
      right: -6px;
    }
  }
}
.podcast {
  position: relative;
  margin-bottom: 200px;
  @media (max-width: 992px) {
    margin-bottom: 100px;
  }
  &-btn {
    text-align: center;
    &-download {
      padding: 0 40px;
      @media (max-width: 992px) {
        font-size: rem(20px);
      }
      @media (max-width: 765px) {
        height: 60px;
        line-height: 60px;
        font-size: rem(18px);
      }
      @media (max-width: 575px) {
        height: 50px;
        line-height: 50px;
        font-size: rem(16px);
      }
      @media (max-width: 400px) {
        font-size: rem(14px);
      }
    }
  }
}
.podcasts-slider {
  &-wrp {
    padding-left: 75px;
    padding-right: 75px;
    position: relative;
    margin-bottom: 60px;
  }

  &-slide {
    width: 604px;

    img {
      display: block;
    }
  }

  &-next,
  &-prev {
    width: 61px;
    height: 61px;
    line-height: 59px;
    border: 1px solid #ffffff00;
    border-radius: 50%;
    margin-top: -27px;
    background-color: $colorCyan;
    color: #fff;
    transition: 0.3s ease;

    &:after {
      font-size: 20px;
    }

    &:hover {
      // background-color: rgba(#fff, 0.85);
      border: 1px solid #fff;
      // color: black;
    }
  }
  &-prev {
    left: 0;
  }
  &-next {
    right: 0;
  }
  &-icon {
    position: absolute;
    right: -35px;
    top: -114px;
    width: 150px;
    transform: rotate(327deg);
    z-index: -1;
  }

  @media (max-width: 992px) {
    &-slide {
      width: 440px;
    }
    &-icon {
      display: none;
      visibility: hidden;
    }
  }

  @media (max-width: 768px) {
    &-slide {
      width: 50vw;
    }
    &-wrp {
      padding-left: 35px;
      padding-right: 35px;
    }
    &-next,
    &-prev {
      width: 25px;
      height: 25px;
      line-height: 23px;
      margin-top: -12px;

      &:after {
        font-size: 10px;
      }
    }
  }

  @media (max-width: 480px) {
    &-wrp {
      padding-left: 25px;
      padding-right: 25px;
    }
    &-slide {
      width: 68vw;
    }
    &-prev {
      left: -5px;
    }
    &-next {
      right: -5px;
    }
  }
}
.podcasts-card {
  position: relative;
  padding-bottom: 65%;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 30px;
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &-plug {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 30px;
  }
  &-play {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 86px;
    height: 86px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: $colorYellow url(../images/icon/play.svg) 54% 50% no-repeat;
    background-size: 24px;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s;

    &:hover {
      transform: translate(-50%, -50%) scale(1.05);
    }
  }

  @media (max-width: 576px) {
    &-play {
      width: 60px;
      height: 60px;
      background-size: 19px;
    }
  }
}
.swiper-slide-active {
  .podcasts-card-play {
    visibility: visible;
    opacity: 1;
  }
}
.broadcast {
  position: relative;
  text-align: center;
  padding: 117px 0px;
  margin-bottom: 243px;
  &-sticker {
    height: 97px;
    line-height: 97px;
    font-size: rem(52px);
    padding: 0 35px;
    margin-bottom: 70px;
    @media (max-width: 992px) {
      font-size: rem(42px);
    }
    @media (max-width: 575px) {
      height: 77px;
      line-height: 77px;
      font-size: rem(34px);
      padding: 0 30px;
      margin-bottom: 50px;
    }
    @media (max-width: 400px) {
      height: 67px;
      line-height: 67px;
      font-size: rem(24px);
      padding: 0 25px;
      margin-bottom: 20px;
    }
    &-tree {
      position: absolute;
      height: 66px;
      width: 170px;
      top: 0;
      left: 0;
      transform: rotate(-17.61deg);
      img {
        width: -webkit-fill-available;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
    &-rocket {
      position: absolute;
      height: 66px;
      width: 170px;
      border-radius: 15px;
      right: 0;
      transform: rotate(-17.98deg);
      img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
      @media (max-width: 400px) {
        bottom: 0px;
      }
    }
    &-tree,
    &-rocket {
      @media (max-width: 992px) {
        height: 56px;
        width: 130px;
      }
      @media (max-width: 575px) {
        height: 46px;
        width: 110px;
      }
      @media (max-width: 400px) {
        height: 46px;
        width: 90px;
      }
    }
  }
  &-text {
    display: inline-block;
    text-align: center;
    max-width: 800px;
    font-size: rem(24px);
    margin-bottom: 70px;
    @media (max-width: 575px) {
      font-size: rem(22px);
    }
    @media (max-width: 400px) {
      font-size: rem(18px);
    }
  }
  &-btn {
    &-link {
      padding: 0 20px;

      @media (max-width: 575px) {
        padding: 0 15px;
        height: 60px;
        line-height: 60px;
      }
      @media (max-width: 400px) {
        font-size: rem(20px);
      }
    }
  }
}
.event {
  margin-bottom: 150px;
}
.gentleman {
  &-header {
    margin-bottom: 80px;
    &-sticker {
    }
  }
}
.histories-list {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}
.histories-card {
  margin-bottom: 40px;

  .ui-video {
    display: block;
    margin-bottom: 15px;
    background: #fff;
  }
  &-img {
    display: block;
    position: relative;
    padding-bottom: 65%;
    margin-bottom: 15px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    &.mfp-gallery {
      cursor: pointer;
    }

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    & > img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
    }
  }

  &-bottom {
    position: relative;
    padding-right: 100px;
  }

  &-author {
    font-size: rem(19px);
  }

  &-likes {
    position: absolute;
    right: 0;
    top: 0;

    &-counter {
      display: inline-block;
      vertical-align: middle;
      margin-right: 9px;
      height: 25px;
      line-height: 25px;
      min-width: 45px;
      text-align: center;
      padding: 0px 5px;
      border-radius: 8px;
      background: $colorCyan;
      color: #fff;
      font-size: rem(15px);
      font-weight: 500;
    }
    &-btn {
      position: relative;
      top: -2px;
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 24px;
      background: url(../images/icon/лайк.svg) center no-repeat;
      background-size: contain;
    }
  }

  @media (max-width: 768px) {
    &-author {
      font-size: rem(16px);
    }
    &-likes-counter {
      min-width: 35px;
      font-size: rem(12px);
      height: 20px;
      line-height: 16px;
    }
    &-likes-btn {
      width: 28px;
      height: 20px;
    }
  }
}

.histories-pgn {
  padding: 20px 0px;
  margin-bottom: 110px;
  border-radius: 100px;
  &-link {
    padding: 0 38px;
  }
  @media (max-width: 992px) {
    display: block;
    text-align: center;
    border-radius: 0;
    margin-left: -100px;
    margin-right: -100px;
    padding: 20px 10px 40px;
    margin-bottom: 60px;
  }
}

// PopUp
.popups-links > ul > li {
  list-style: outside;
  margin-left: 20px;
}
.popups-links > ul > li > a {
  &:hover {
    color: $colorBlue;
  }
}
.popups-links-title {
  font-size: rem(20px);
  color: $colorBlack;
}
.pages-link {
  margin-bottom: 15px;
}
.pages-link > ul > li {
  list-style: outside;
  margin-left: 20px;
}
.pages-link-title-main {
  &:hover {
    color: $colorBlue;
  }
}

// end pages.html

// popup style
.popup-form {
  background: $colorBlue;
  position: relative;
  margin: 20px auto;
  max-width: 630px;
  padding: 100px 20px 100px 20px;
  border-radius: 20px;
  &-img {
    margin-bottom: 15px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &-title {
    display: block;
    font-size: rem(24px);
    text-align: center;
    font-weight: 600;
    color: $colorBlack;
    max-width: 520px;
    line-height: 34.8px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  &-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    max-width: 450px;
    margin-bottom: 24px;
    span {
      font-weight: 700;
      color: $colorCyan;
    }
  }
  &-btn {
    display: block;
    border: none;
    margin: 0 auto;
    max-width: 340px;
    height: 60px;
    line-height: 60px;
    background: $colorCyan;
    font-size: rem(16px);
    font-weight: 600;
    transition: 0.3s ease;
    &:hover {
      background: #4258ff;
    }
  }
}
.mfp-close {
  opacity: 1 !important;
  font-size: rem(40px);
  color: #fff !important;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: black !important;
  right: -20px;
  top: -20px;
}

.confirmation {
  padding: 48px 40px;
  &-img {
    margin-bottom: 15px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &-title {
    display: block;
    font-size: rem(24px);
    text-align: center;
    font-weight: 600;
    color: $colorBlack;
    max-width: 520px;
    line-height: 34.8px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  &-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
    max-width: 600px;
    margin-bottom: 24px;
  }
  &-btn {
    display: block;
    font-size: 0;

    &-tcs {
      height: 60px;
      line-height: 60px;
      font-size: rem(16px);
      font-weight: 600;
      color: $colorBlue;
      background: #f6f7ff;
      margin-right: 13px;
      transition: 0.3s ease;
      border: 1px solid #dddddd00;
      &:hover {
        border: 1px solid $colorBlue;
      }
    }
    &-upload {
      height: 60px;
      line-height: 60px;
      font-size: rem(16px);
      font-weight: 600;
      color: #ffffff;
      background: $colorBlue;
      transition: 0.3s ease;
      &:hover {
        background: #3e53f7;
      }
    }
  }
}

.tcs-title {
  font-size: 24px;
  font-weight: 600;
  color: #20233e;
  text-align: center;
  margin-bottom: 16px;
}
.tcs-container {
  background: #f7f7fb;
  border-radius: 10px;
  margin-bottom: 24px;
}
.tcs-container-content {
  padding: 20px 16px 20px 20px;
}
.tcs-container-content-list {
  max-height: calc(100vh - 106px);
  padding-right: 20px;
  overflow-y: auto;
  font-size: rem(14px);
  font-weight: 400;
  color: #242424;
  line-height: 25.2px;
  li {
    margin-bottom: 16px;
  }
  &::-webkit-scrollbar-thumb {
    background: #3c50e0;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #dbe2ef;
    border-radius: 40px;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
}

// question popups
// PopUp animation
/* MFP Animations
---------------------------*/
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.4s 0.35s;
  transform: scale(0.75);
}

.delay-back .my-mfp-zoom-in .zoom-anim-dialog,
.my-mfp-zoom-in .zoom-anim-dialog.delay-back {
  animation-delay: 0s !important;
  transition: all 0.4s 0s;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.75);
  opacity: 0;
}

/* Dark overlay, start state */
.mfp-bg {
  opacity: 0;
  transform: scale(0.75);
  transition: opacity 0.3s, transform 0.3s;
}

/* animate in */
.mfp-bg.mfp-ready {
  opacity: 0.7;
  transform: scale(1);
}

/* animate out */
.mfp-removing.mfp-bg {
  opacity: 0;
  transform: scale(1);
}

// popup thanks
.popup-thanks {
  text-align: center;
}
.thanks-sticker {
  display: inline-block;
  padding: 0 25px;
  border-radius: 25px;
  font-size: rem(30px);
  font-weight: 500;
  line-height: 55px;
  margin-bottom: 33px;
}
// popup graz
.popup-graz {
  text-align: center;
}
.graz-text {
  max-width: 600px;
}
// popup error
.popup-error {
  text-align: center;
}
// popup form
.popup-form {
  text-align: center;
}
.form-container {
  max-width: 255px;
  margin: 0 auto;
}
.form-btn {
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0px 30px;
  font-size: rem(22px);
}
// Modificator
.active {
  background: $colorBlue;
}
.border {
  border: 1px solid $colorBlue;
  .ui-answer-btn-num {
    color: $colorBlue;
  }
}
.error {
  display: block;
}
